* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.game-container {
    position: relative;
    text-align: center;
}

#gameCanvas {
    background-color: #000;
    border: 2px solid #fff;
}

#score {
    font-size: 20px;
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}
